<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested URI is not a file or directory,
    # redirect it to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
